<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/stylesCreate.css">

</head>

<body>
    <ul class = 'navbar'>
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/create">Create users</a></li>
    </ul>


    <div class="container">
        <form action="/create-user" method="post">
            <fieldset>
                <legend>Add new users</legend>
                
                <div class="form-group">
                    <label for="name">Email:</label>
                    <input type="email" id="email" name="email">
                </div>
                
                <div class="form-group">
                    <label for="email">Họ và tên:</label>
                    <input type="text" id="myname" name="name">
                </div>
                
                <div class="form-group">
                    <label for="phone">Thành phố:</label>
                    <input type="text" id="City" name="city">
                </div>
                
                <button type="submit">Gửi</button>
            </fieldset>
        </form>
    </div>
</body>

</html>